@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

body{
    width: 960px;
    margin: auto;
}

header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 960px;
   }
   
   .mainlogoimg{
    margin-top: 10px;
   }

   header section div {
     display: inline-block;
   }
   
   header section div p:nth-child(1) {
    font-family: 'Dancing Script', cursive;
     color: black;
     font-weight: bold;
     font-size: xx-large;
  
   
   }
   
   header section div {
     font-family: 'Advent Pro', sans-serif;
     color: grey;
     font-size: thin;
     font-size: xx-small;
     
   }

   .iconsnav{
    text-align: right;
    margin-right: 60px;
   }
   
   .iconsnav li{
     display: inline-block;
     margin-top: 20px;
     align-items: right;
   }
   
   .iconsnav li:nth-child(7){
     padding-left: 10px;
   }


   main {
    width: 100%;
  }

  .ptags p {
    margin: 30px 0;
    font-size: 17.5px;
    
  }
  
  main h1{
    font-family: 'Anton', sans-serif;
    font-size: 20px;
    margin-top: 25px;
   
  }
  
.mainForm {
  margin: 0px auto;
  width: 960px;
  display: flexbox;
  justify-content: center;
    
} 

.leftSide {
  font-family: 'Grandstander', cursive;
  position: relative;
  top: -275px;
  font-size: x-large;
  font-weight: bold;
  line-height: 1.5em;
  float: left;
  z-index: 10;  
  background-color: #FFFFFFFF;
  margin-left: 25px;
}

.rightSide {
  font-family: 'Grandstander', cursive;
  font-size: x-large;
  font-weight: bold;
  position: relative;
  top: -275px;
  float: right;
  line-height: 1.5em;
  margin-right: 20px;
}
.rightSide li:nth-child(2) {
  text-decoration: line-through;

}
.rightSide li:nth-child(3) {
  text-decoration: line-through;
}

 footer{
    width: 100%;
    margin-top: 30px;
}
.midlineimg{
    display: inline-block;
    padding-right: 20px;
}
footer div{
    display: inline-block;
    width: 55%;
}
footer button{
    position: relative;
    margin-left: 10%;
    background-color:#bc7058;
    width: 200px;
    height: 50px;
    color: whitesmoke;
    font-size: 15px;
    margin-bottom: 10%;
}

footer h2{
    margin-bottom: 0px;

}

footer p{
    margin-top: 10px;
}
.lastline{
  margin-top: 16px;
  margin-bottom: 5%;
}

.lastlogo{
    position: relative;
    float: left;
    left: 50%;
    bottom: 0px;
    z-index: 1; 

}

.copyright{
    text-align: center;
    margin-bottom: 0px;
    margin-top: 5px;
    color: gray;
} 
